@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div>
    <h1>User Order</h1>
    <div id="table"></div>
</div>
<script src="~/lib/jquery/dist/jquery.js"></script>
<script>

    show();
    function show()
    {
        $.ajax({
            url: "/Signin/showorder",
            method: "GET",
            dataType: 'JSON',
            success: function (data) {
                if (data.success != "")
                {
                    $("#table").html(data.success);
                }
            }
        });
    }
</script>
